.InputRange-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #3f51b5;
    border: 1px solid #3f51b5;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    margin-left: -1.25rem;
    margin-top: -1.3rem;
    outline: none;
    position: absolute;
    top: 50%;
    height: 2.5rem;
    width: 2.5rem; }
.InputRange-slider:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
.InputRange-slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
.InputRange.is-disabled .InputRange-slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
    transform: none; }

.InputRange-label {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    white-space: nowrap; }

.InputRange-label--min,
.InputRange-label--max {
    bottom: -1.4rem;
    position: absolute; }

.InputRange-label--min {
    left: 0; }

.InputRange-label--max {
    right: 0; }

.InputRange-label--value {
    position: absolute;
    top: -1.8rem; }

.InputRange-labelContainer {
    display: none; }
.InputRange-label--max .InputRange-labelContainer {
    left: 50%; }

.InputRange-track {
    background: #eeeeee;
    border-radius: 0.3rem;
    display: block;
    height: 0.3rem;
    position: relative;
}

.InputRange.is-disabled .InputRange-track {
    background: #eeeeee; }

.InputRange-track--container {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%; }

.InputRange-track--active {
    background: #3f51b5; }

.InputRange {
    cursor: pointer;
    height: 1rem;
    position: relative;
    width: 100%; }
